<% include ../partials/head %>
    <header class="ui masthead" style="background: linear-gradient(90deg, #9d9e9d 10%, rgb(19, 223, 195) 90%)">
        <div class="ui main text container">
            <div class="row">
                <div class="introduction">
                    <div class="site-heading">
                        <h3 class="ui inverted header library">See Our Top Posts Below</h3>
                        <span class="subheading tagline">Published By Some Of Our Best Writers</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
     <!-- Main Content -->
    <div class="ui vertical stripe segment">
        <div class="ui text container">
            <div class="row">
                <div class="ui main header">
                    <% posts.forEach(function (post) { %>
                        <div class="post-preview">
                            <h2 class="post-title">
                                <%= post.title %>
                            </h2>
                            <p class="post-subtitle">
                                <%= post.body %>
                            </p>
                            <a href="/posts/<%= post._id %>" class="ui large button right floated">Read More</a>
                            <p class="post-meta left floated">Posted by
                            <a href="/users/profile"><%= post.author %></a>
                            on <%= moment(post.created).format("MM-DD-YYYY") %></p>
                            <p class="divider"></p>
                            <hr>
                        </div>
                    <% }) %>
                    <!-- Pager -->
                    <div class="clearfix">
                        <a class="ui huge inverted violet button" href="#">Older Posts &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<% include ../partials/footer %>